#navbar {
	background: #0088D1;
	border: none;
	border-top: 1px solid #0088D1;
	box-shadow: none;
	position: absolute;
	bottom: 0;
	z-index: 1000;
	height: 49px;
	display: block;
	left: 0;
	right: 0;
	padding: 0 3px;
	margin: 0;
}
#navbar a {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	top: 6px;
	height: 49px;
	overflow: hidden;
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;
	color: black;
	text-align: center;
	display: inline-block;
	width: 33.3%;
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
	line-height: 73px;
	position: relative;
	margin: -3px;
}
#navbar a.pressed {
	border-radius: 0;
	background: #00AEEF;
	margin: -3px;
	top: 6px;

}
.menuIcon1, .menuIcon2, .menuIcon3, .menuIcon4{
	position:absolute;
	left: 0;
	width: 100%;
	height: 30px;26
}

.menuIcon1{
	background: url(../img/location_24px.png) no-repeat;
	background-position:center; 
}

.menuIcon2 {
	background: url(../img/location_pin_24px.png) no-repeat;
	background-position:center; 
}
.menuIcon3 {
	background: url(../img/eye_24px.png) no-repeat;
	background-position:center; 
}
.menuIcon4 {
	background: url(../img/settings_24px.png) no-repeat;
}