body {
    padding: 0;
    margin: 0;
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;

}
html, body, #map {
    height: 100%;
}
#texto {
	position: absolute; 
	top: 10px; 
	left: 80%; 
	z-index: 99;
	background-color: white;
}

