body {
    padding: 0;
    margin: 0;
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;

}
#map{
	width: 100%; height: 100%; position: absolute;bottom: 50px; left:0;
}
html, body, {
    height: 100%;
}
#texto {
	position: absolute; top: 34px; right: 5px; z-index: 99;background-color: rgba(252, 248, 248, 0.56);
}
.leaflet-top .leaflet-control {
margin-top: 69px;
}
.hide { display:none; }

#msgbox {
	background: #E4673F;
	border: none;
	border-top: 1px solid #E4673F;
	box-shadow: none;
	position: absolute;
	bottom: 50px;
	z-index: 1000;
	height: 49px;
	display: block;
	left: 0;
	right: 0;
	padding: 0 3px;
	margin: 0;
}